{% include "global/partials/head.html" %}
{% load static %}
<body>
    <div class="header">
        <h1>Lucas Pereira Barbosa</h1>
        <div class="header_r">
            <div class="architect_icon">
                <a href="https://www.credly.com/badges/b7c251e3-b4cc-4cdc-b90b-34d241ffba29" target="_blank">
                    <img src="{% static 'global/static/global/images/aws-selo.png' %}">
                </a>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <main class="content">
    {% block bloco_body %} POSTS {% endblock bloco_body %}
    </main>
    <div class="line"></div>
    <div class="board">
        Lucas Pereira Barbosa
        <div class="board_r">
            <div class="contact">dockerjob@gmail.com</div>
        </div>
    </div>
  
</body>
</html>